.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 80vw; /* Lățimea tablei de șah */
  max-width: 600px;
  height: auto;
  margin: 20px;
  border: 4px solid white;
  border-radius: 5px;
  aspect-ratio: 1;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

.knight {
  color: red;
}

.titleText {
  margin-bottom: 30px; /* Distanță între titlu și tabla de șah */
}

.titlu {
  color: white;
  display: flex;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  font-weight: bold;
}

.moves {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  max-width: 300px;
}

.moves h2 {
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.moves ul {
  display: grid;
  grid-template-columns: repeat(14, 1fr); 
  gap: 25px;
  color: white;
}

.moves li {
  margin: 5px 0;
  font-size: 1rem;
}

.moves .current-move {
  font-weight: bold;
  color: white;
}

.app {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: #161622;
}

.titleAndBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  gap: 20px;
}

.boardAndMoves {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

* {
  box-sizing: border-box;
}

/* Media query pentru ecrane mai mici */
@media (max-width: 700px) {
  .board {
      width: 100vw; /* Ocupă întreaga lățime a ecranului */
      height: 100vw; /* Înălțimea devine egală cu lățimea */
      max-width: none; /* Elimină limita de lățime maximă */
      max-height: none; /* Elimină limita de înălțime maximă */
  }

  .square {
      font-size: 4vw; /* Mărește fontul pe ecrane mai mici */
  }
}