html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  background-color: #161622; 
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #161622;
  height: 100vh;
}

.mainContent {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  width: 100%; 
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 80vw; /* Lățimea tablei de șah */
  max-width: 600px;
  height: auto;
  margin: 15px;
  border: 4px solid white;
  border-radius: 5px;
  aspect-ratio: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

.knight {
  color: red;
}

.titleText {
  margin-bottom: 30px; /* Distanță între titlu și tabla de șah */
  align-items: center;
}

.titlu {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  font-weight: bold;
}

.moves {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  max-width: 300px;
  width: 100%;
}

.moves h2 {
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.moves ul {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  color: white;
  gap: 10px; 
  margin-left: -20px;
}

.moves li {
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.moves li .moveNumber {
  font-weight: bold; 
  margin-bottom: 5px; 
}

.moves li .coordinates {
  font-style: italic; 
}

.boardAndMoves {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 20px; 
}

.visited {
  opacity: 0.5;
}

* {
  box-sizing: border-box;
}

/* Media query pentru ecrane mai mici */
@media (max-width: 700px) {
  .board {
      width: 100vw; /* Ocupă întreaga lățime a ecranului */
      height: 100vw; /* Înălțimea devine egală cu lățimea */
      max-width: none; /* Elimină limita de lățime maximă */
      max-height: none; /* Elimină limita de înălțime maximă */
  }

  .square {
      font-size: 4vw; /* Mărește fontul pe ecrane mai mici */
  }
}