.board {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(8,1fr);
  width: 90vw;
  max-width: 600px;
  height: auto;
  margin: 20px auto;
  border: 2px solid black;
}