.board {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(8,1fr);
  width: 90vw;
  max-width: 600px;
  height: auto;
  margin: 20px auto;
  border: 2px solid black;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.square:nth-child(even) {
  background-color: #f0d9b5;
}

.square:nth-child(odd) {
  background-color: #b58863;
}

.knight {
  color: red;
}